* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #ffbdbd;
}
header{
    background-color: #8b0000;
    height: 120px;
    width: 100%;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.titulo{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #ff453b;
    transition: color 0.3s ease;
    gap: 6px;
    opacity: 100%;
}
.titulo:hover{
    color: rgb(255, 255, 255);
    opacity: 100%;
}
ul{
    gap: 32px;
    display: flex;
    font-size: 20px;
    color: whitesmoke;
}
li{
    list-style: none;
}
a{
    transition: color 0.3s ease;
}
a:hover{
    color: #bbbbbb;
}
.link{
    text-decoration: none;
    color: inherit;
}
.coracao{
    width: 44px;
    height: 44px;
}
.wrapper{
    margin-top: 600px;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}
.texto{
    margin-top: 164px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.images{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    width: 1760px;
    height: auto;
    justify-content: center;
}
.foto1,.foto2,.foto3,.foto4,.foto5,.foto6,.foto7,.foto8,.foto9,.foto10{
    transition: filter 0.8s ease;
    border-radius: 30px;
    width: calc(100% / 4);
    box-sizing: border-box; 
    padding: 15px;
}
.foto1:hover,.foto2:hover,.foto3:hover,.foto4:hover,.foto5:hover,.foto6:hover,.foto7:hover,.foto8:hover,.foto9:hover,.foto10:hover{
    filter: brightness(70%);
}